@model BusinessObjects.Models.Product

@{
	ViewData["Title"] = "Details";
}
<style>

	body {
		overflow-x: hidden;
	}

	img {
		max-width: 100%;
	}


	.preview-thumbnail.nav-tabs {
		border: none;
		margin-top: 15px;
	}

		.preview-thumbnail.nav-tabs li {
			width: 18%;
			margin-right: 2.5%;
		}

			.preview-thumbnail.nav-tabs li img {
				max-width: 100%;
				display: block;
			}

			.preview-thumbnail.nav-tabs li a {
				padding: 0;
				margin: 0;
			}

			.preview-thumbnail.nav-tabs li:last-of-type {
				margin-right: 0;
			}

	.tab-content {
		overflow: hidden;
	}

		.tab-content img {
			width: 100%;
			-webkit-animation-name: opacity;
			animation-name: opacity;
			-webkit-animation-duration: .3s;
			animation-duration: .3s;
		}

	.card {
		margin-top: 50px;
		background: #eee;
		padding: 3em;
		line-height: 1.5em;
	}


	.details {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.colors {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.product-title, .price {
		text-transform: UPPERCASE;
		font-weight: bold;
	}


	.product-title, .product-description, .price {
		margin-bottom: 15px;
	}

	.product-title {
		margin-top: 0;
	}

	.add-to-cart {
		background-color: green;
		border: none;
		text-transform: UPPERCASE;
		font-weight: bold;
		color: white;
	}

	.new-price {
		font-size: 25px;
		font-weight: bold;
		color: red;
		margin-right: 10px;
	}

	.old-price {
		font-size: 20px;
		font-weight: bold;
		color: grey;
	}
</style>

<body>
	<div class="container">
		<div class="card">
			<div class="wrapper row">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">
						<div class="tab-pane active" id="pic-1"><img src="~/img/Products/@Model.ProductImage" /></div>
					</div>


				</div>
				<div class="details col-md-6">
					@{
						string old_price = Model.Price.ToString("###,###,###");
						string new_price = (Model.Price - (Model.Price * (decimal)Model.Discount)).ToString("###,###,###");
					}
					<h3 class="product-title">@Model.ProductName</h3>
					<p class="product-description">@Model.ProductDescription</p>
					<h4 class="price">price</h4>
					<div style="display: flex; align-items: center;">
						<span class="new-price">@new_price <ins class="new-price">đ</ins> </span>
						<del class="old-price">@old_price <ins>đ</ins></del>
					</div><br />
					<h6>Quantity: @Model.Quantity</h6>
					<br />
					<div class="action">
						<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.ProductId" class="add-to-cart btn btn-default" type="button">Add to cart</a>
						<a asp-controller="Home" asp-action="Index" class="add-to-cart btn btn-default" type="button">Back Shopping</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

@*<div>

</div>*@
